<div style="text-align: center">
    <h1>
      BIENVENIDOS A DANNA.COM LA MEJOR TIENDA ONLINE
    </h1>
    </div>
    
    <div class="container">
      <button (click)="Listar()" class="btn btn-info" style="margin-left:10px">Listar Clientes</button> 
      <button (click)="Nuevo()" class="btn btn-danger" style="margin-left:10px">Nuevo Cliente</button>
      <button (click)="ListarArt()" class="btn btn-warning"  style="margin-left:10px">Listar Articulos</button>
   
    </div>
    <router-outlet></router-outlet>
    